<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <report id="action_report_package_sale_order" 
            string="Imprimir bultos" 
            model="stock.picking" 
            report_type="qweb-pdf" 
            name="stock_barcode_custom.report_package_sale_order" 
            file="stock_barcode_custom.report_package_sale_order"
            print_report_name="'Bultos'"
            paperformat="stock_barcode_custom.paperformat_bulto"
            />
            
</odoo>
